<%- include('../partials/header') %>

    <div id="card-area">
        <div class="card">
            <div class="card-body">

                <!-- description -->
                <h4 class="card-title">
                    Add a Movie to your Collection
                </h4>

                <!-- form -->
                <form action="/movies" method="post">

                    <!-- new movie title -->
                    <div class="accounts-content">
                        <label for="title">title: </label>
                        <input type="text" id="title" placeholder="title" name="movie[title]">
                    </div>

                    <br>

                    <!-- new movie year -->
                    <div class="accounts-content">
                        <label for="year">year: </label>
                        <input type="text" id="year" placeholder="year" name="movie[year]">
                    </div>

                    <br>

                    <!-- submit -->
                    <button class="btn btn-primary accounts-content">
                        Add Movie
                    </button>

                </form>

            </div>
        </div>
    </div>